<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/lpc/nct6779d/control/0/plot" value="false" />
    <add key="/lpc/nct6779d/control/1/plot" value="false" />
    <add key="/lpc/nct6779d/control/2/plot" value="false" />
    <add key="/lpc/nct6779d/control/3/plot" value="false" />
    <add key="/lpc/nct6779d/control/4/plot" value="false" />
    <add key="/intelcpu/0/load/1/plot" value="false" />
    <add key="/intelcpu/0/load/2/plot" value="false" />
    <add key="/intelcpu/0/load/3/plot" value="false" />
    <add key="/intelcpu/0/load/4/plot" value="false" />
    <add key="/intelcpu/0/load/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/1/plot" value="false" />
    <add key="/intelcpu/0/temperature/2/plot" value="false" />
    <add key="/intelcpu/0/temperature/3/plot" value="false" />
    <add key="/intelcpu/0/temperature/4/plot" value="false" />
    <add key="/intelcpu/0/clock/1/plot" value="false" />
    <add key="/intelcpu/0/clock/2/plot" value="false" />
    <add key="/intelcpu/0/clock/3/plot" value="false" />
    <add key="/intelcpu/0/clock/4/plot" value="false" />
    <add key="/intelcpu/0/power/0/plot" value="false" />
    <add key="/intelcpu/0/power/1/plot" value="false" />
    <add key="/intelcpu/0/power/2/plot" value="false" />
    <add key="/intelcpu/0/power/3/plot" value="false" />
    <add key="/intelcpu/0/clock/0/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="/hdd/1/temperature/0/plot" value="false" />
    <add key="/hdd/1/load/0/plot" value="false" />
    <add key="/hdd/2/temperature/0/plot" value="false" />
    <add key="/hdd/2/load/0/plot" value="false" />
    <add key="/hdd/3/load/0/plot" value="false" />
    <add key="/hdd/4/load/0/plot" value="false" />
    <add key="/hdd/5/load/0/plot" value="false" />
    <add key="/hdd/6/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="485" />
    <add key="mainForm.Location.Y" value="115" />
    <add key="mainForm.Width" value="470" />
    <add key="mainForm.Height" value="640" />
    <add key="/lpc/nct6779d/voltage/0/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/1/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/2/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/3/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/4/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/5/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/6/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/7/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/8/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/9/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/10/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/11/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/12/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/13/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/14/plot" value="false" />
    <add key="/lpc/nct6779d/temperature/0/plot" value="false" />
    <add key="/lpc/nct6779d/temperature/1/plot" value="false" />
    <add key="/lpc/nct6779d/temperature/2/plot" value="false" />
    <add key="/lpc/nct6779d/temperature/3/plot" value="false" />
    <add key="/lpc/nct6779d/temperature/4/plot" value="false" />
    <add key="/lpc/nct6779d/temperature/5/plot" value="false" />
    <add key="/lpc/nct6779d/temperature/6/plot" value="false" />
    <add key="/lpc/nct6779d/fan/1/plot" value="false" />
    <add key="startMinMenuItem" value="true" />
    <add key="/hdd/0/load/0/values" value="H4sIAAAAAAAEAFspPXMZy797Hh2+jk4AOqz+aAwAAAA=" />
    <add key="/hdd/1/temperature/0/values" value="H4sIAAAAAAAEAMubvn4Zy797HgwMPE4AjXmsQQwAAAA=" />
    <add key="/hdd/1/load/0/values" value="H4sIAAAAAAAEAMubvn4Zy797Hoaqu50APVo5nAwAAAA=" />
    <add key="/hdd/2/temperature/0/values" value="H4sIAAAAAAAEABNL3LCM5d89DwYGCycAOgoTbwwAAAA=" />
    <add key="/hdd/2/load/0/values" value="H4sIAAAAAAAEADPo2LCM5d89j4z9xxwBSBLB5wwAAAA=" />
    <add key="/hdd/3/load/0/values" value="H4sIAAAAAAAEADPo2LCM5d89D76VtU4AnEMffwwAAAA=" />
    <add key="/hdd/4/load/0/values" value="H4sIAAAAAAAEAHu7fsMyln/3PPxXtTsBAPxlFt0MAAAA" />
    <add key="/hdd/5/load/0/values" value="H4sIAAAAAAAEAHu7fsMyln/3PByWnrMHAFrLJoEMAAAA" />
    <add key="/hdd/6/load/0/values" value="H4sIAAAAAAAEAFM9tmEZy797Hq+9qpwAraLeagwAAAA=" />
    <add key="minCloseMenuItem" value="true" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEADWQTUhUURzFJYdABsTAFMIWQohEtVEGjcCzyK8UEmkxUGLqu3/vIyERQzcVOoUuAqePzaCUUijEjJmKKIgYDOEXEgU6VJTlyExlWqDMiGQN77zu6sfhnHPPvbPrPYWOg09l3Z0GtgYbDiUljl5UeOuvt7gsU1B3/arFV2YUcl7TM56hkFJSZ3H6HQN97mvOJOvM/o3l9Vp68JZAr7Nncklh+TCzfTGF8B47g6MKgUjb0f/Z7eM+S68sVth3MuvXCskPeFdri0LEZVjcHVWoPk3OKhWUD9Azd1bw/BTvCs0IAr+ohz0CbxX1Z68Ex1LYH7wt8H2j502nIH+a28IJrgD7o08E7pN29qdgd43Z6Q1Bh4scXxXEa8j5w4LND+zRFYKakL1BCZzl9h8OCL4/pT6Z8O+Vkr2Jze1d9GSFBKku25/aiPbH7E+vFXy+SX/8hWDhC/WRDkHkCPWdakHzffIll2AxU1nc7xA0NdeyM6Bwt4j6oxsG/mxxc26vAU+b/ZZKwXI2N+R6TUydIbsfmtg02X8iptE1RF5LNvFyg6wdJn4Ps6dqRWO+mLp7TOPHCP+2wK8R3afedE8j1kP/x8sa7yLcef5rI/o99J/LEWyP0Z92UeAfpd9xQfDex21pEwr/AFEecBDcAgAA" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEADWQXUjTYRjFJYdgAykojLALb7yQGSE2iqAOYZroRXihu5k6W5kkuQJdFxW+z2tNL2y5IBhFJEZBrejDLiwvBEHog5EGMrQPQ3NZtiUkKtrq5X/mc/XjcJ7znvcZngnut6U+H81r10jcO74pw0xkTDAeabR46KHA09pgcXFMUDBKT5ZDI7vMY3FNm8ZI3Wl7hjXD/94X3bT0lF9waoY5NpMZzeJu6JVgdpWZqU+CR3H/9o3d5K6wpb/cprFm5+7mTI3MEN8qSAniTq/FeSOC6iLy+HVBRR8962HBAwff+lNr8n9TP9MmuHaM+tUawc5s5l8yPcPz9KwYT8kQuyUMV4L5LU0CV2F6F4Klae5KqUA5yd5KwYqbXNYgWJhiTqRX4I6lO3QK7BXMuXJS8KOfus34V8vJO1yC8wF6qk1mjjN98z1Gv838iYDgy0X6vfWCN1+pd7Wb+2ylPtcj8PWSnbcEb3NPWLzlhaDFV88O04LLh6jfuKDxN8HO75o1tD/9F9M/ms8OVckODO4mD/zqwEIz86MHFAL3yb69Ck+/kR2GFx8zZ1+Vwusj1AfcCj+f8LalHoXva9QLzyosB+k/163wIc6eB0cV7mj6D98VJJ/THwsKIs/orwsJJsPs5voo+A9gqU3N3AIAAA==" />
    <add key="/hdd/0/temperature/0/values" value="H4sIAAAAAAAEAFspPXMZy797HgwMCk4Am3a3RAwAAAA=" />
    <add key="/intelcpu/0/load/1/values" value="H4sIAAAAAAAEAIvd8M6C5d89jx0yEx2n5yYyMYDAgX7HtSEpEHbDIsfVVxKg7CuO3feSIGyFJ465R6DqE+Y7Rr9KhrAd0h09d8/mZIAY9J+XiR0srnKS2cnLAaqGocph01OomQwn7P++gJrJoO/g/ItbDKb3x1sWsHjBrG+Ob0UQaiaywthiDlsNoGY25DqmKqVCxT3sjQRgak7YbfkFZR/gd3SdD3UzwzT794fgahz038DY0xxWzkiE6/0mC2P/slfISYG7oVoS4v7TmzodWpkR4ttYEuFueOwOM9PDoaMhGc5mnwxV06Dk6F8Cc/8ih84n0DBx8HM8rAJ3m/3T5zA11o63nBHh0NuKUHOOMRFuToodwl55UVi8yDgqzIKp6XRwvpkM11u/Dq7e3vI5LF4eOrztRqhx2A4TT3Q84ARVn7DDcXUFVM0BDcey3zC/izlcnJQEDzdhx2S4+DVpRNytkEWE1V7JFLhdd0XhcWEfzAFjJzrcX43wF0MIjF3lsL4VYW/bcYS9HOrwuHYAAJdInF/oAgAA" />
    <add key="/intelcpu/0/load/2/values" value="H4sIAAAAAAAEAPtz/Z0Fy797Hk0mmxx+uCYyMYBAw27Hk9UpEPaCHsf+tQlQ8beO3feSIOyEV465R6DqE3Y4Rr9KhqrJdfTcPZsTzGY48J+XiR0qzuLo5QBVw+DhsOkp1EyGE/Z/X0DNbLji4PyLWwym98dbFrB4xInbDm9FoGoYpjlMZIWxPey3GkDNTJjvmKqUChX/ZW8kAFNT5bDlF8z8RQ6u8xPhbnh/CCa+20H/DYzd6bByBkzNNPtvsnC2g0JOCsx8h2rJBLiZrcwpcL3bWGDq9R0euyPs7WiAhc9bB/bJUDUOMo7+JclwN3c+gYWJmONhlSS4OU+fQ9Uc0HC85QwPB/veVkSYnGOEx51Dih1CXF4UprfYUWEWzG0PHZxvIuKifl0S3A2Wz2Fu0Hd8250Md4PDdqi4Q7PjASeoegM+p9UViHgv+w0zX8zh4iRE2Ao7wsxJdLgmnQRnr5BFhNVeSVgYXnG4K4rwezAHIm3cX41gM4QgwnZ9K8ycKoe244h45FBHxB0A9vMGLOgCAAA=" />
    <add key="/intelcpu/0/load/3/values" value="H4sIAAAAAAAEAPtz/Z0Fy797Hg8+3XT44ZrIxAACB/odT1anQNgPjjj2r02AsBPknbrvJUHYDs8dc49A1T+46xj9KhnCVpjp6Ll7NicDxKD/vEzsYHGVk28cvBygahj0HTY9hZrJIObw9wXUzIbdDgGKPGIwva+PsYDFay5fcXgrAlXD4OEwkRXG/mW/1QBqZkOuY6pSKpitXuZmbyQAUzPNfssvmPmdDq7zE+Hi7w/B1FQ56L9BmL9yRiLc/G+yMPYJe4UcaJg0LHKoloS5P9GhlTkF7q9tLAj1j90RZnY0IPzOPhmm5qGDf0ky3D2dT2BmnnA4rJIEV//0eTJc/S1nhL96W5PgbjjHCLfXIcUOoVdeFKrXgdlRYVYi3P3ON5PhfqxfhzDT8nkCXP3bboQah+1Q8QOOjgecoOoXLHVcXQF3v2PZb4TfL05CxJGwYzJc/Jo0QnwFUtjulUyBu+GuKEyNmEMwByKO7q9G+IshBJFm1rcmwtW3HU+Cm8mhnggPfwBV49Z96AIAAA==" />
    <add key="/intelcpu/0/load/4/values" value="H4sIAAAAAAAEAPtz/Z0Fy797HkfObXb84ZrIxAACCTscT1anQNgKfx371yZA2A4yTt33kiDsBTxOuUeg6hveOka/SobrDX80mxPMZjjw//8tNrD4nTJuRy8HqBoGfYdNT6FmMiQ6/H0BNbOh0yFAkUcMpvf1MRaw+BkVWce3Igg1E1mT4Hq3GiTDxB1TlVKh4tPsjQSS4Owtv2B6Fzm4zk+Ei78/BFPj4aD/BmHmyhkwNQwM32Qh7AmNnQ4KOSlwvdWSCXC9rcwpcPY2FpjeX/aP3RFmdjQkw9nsk2FqHjr4lyDCpPMJzEwxx8MqCP8+fQ7z41uHW84If/W2wthVDucYoWY6MDum2CHslRdNhtulMCsRrt75JkxczKF+HUz9CXvL5wlwu952I9zmsB0eX44HnKDqHbY6rq6AxftFx7LfiXBzLk5ChK2wI8wcD/tr0oi4WCGbCFezVzIF7ra7ogh/BXMg1N9fDWPvdmAIgalZ77C+NRHu37bjCL0c6onwMAQAzAC8gegCAAA=" />
    <add key="/intelcpu/0/temperature/0/values" value="H4sIAAAAAAAEAPtz/Z0Fy797HgwMzk4/XBOZGMDA2elkdQqU7enUvzYByvZz6r6XBGfnHoGp93aKfpUMZXs4TVVYwAlhH/h/cA4TXL2XA0yNk9OmpzAzHZz+voCZaeM0M1ZADKZ3URcDVNzW6a0ITI2F00RWGNvcaatBMlw8VSkVyjZ1MhJIgrO3/EKod50Pc7OJ0/tDCHH9NzC2mdPKGQg132RhbGMnhZwUuJnVkjD3Gzm1MqfA2dtYYOoNnB67w8zUd+poSIabwz4ZYb5/CUK880kCXPywShJc/OnzZLj4LeckuPm9rQjzzzEmwt2WYpcEd4+8KMJ8hVkwNYZOzjeT4Xrr1yXBxS2fJ8DD4W03Qq/D9gR4OB9wgqm3dVpdgQj/st8IN1ychHC/sCPC/dekEeIrZBHq90oiwvauKML9wRwI9fdXI8QZQhDi61sT4eJtxxFqONQR4QwAvHv9lOgCAAA=" />
    <add key="/intelcpu/0/temperature/1/values" value="H4sIAAAAAAAEAPtz/Z0Fy797HgwMjk4/XBOZGMDA3elkdQqU7evUvzYByo5w6r6XBGWHOOUegakPdop+lQxlRzpNVVjACWEf+H9wDhNU3M/JywGmxtnpLWcinH3oCMxMR6eZsQJiML2Luhig4k5Ob0VgaqycXNlhbEsnRn2YmQ5OriqpULaZU6IpTI2pU9lVGNvOqWRuIlzN+0MIc/6/hbHNnW5OS4Sz98rD2MZOAjmwMLF3OiKeADfHgjUFbtcJFph6E6e/7klw9so6mDutnZ5NSYSzC4qS4Xo7n8DMtHU6rALTa+HU+zIZzt6QiDBzRzqMbeikyoBwc4odwl91+gi9LN0INWvPI+y1u4Aws/doAjycdbuS4eIO2xPg5hxwgql3c1pdkQx3c9nvRLia2imI8E+3T4aH4TXpJDh7tQJMvZHTf8sUuN4ZnxDu/MeJMMdkFYLNEJIED3+bpYlw8Z/LEeZzqCPEAXAhAUjoAgAA" />
    <add key="/intelcpu/0/temperature/2/values" value="H4sIAAAAAAAEAPtz/Z0Fy797HgwMTk4/XBOZGMDAxelkdQqUHejUvzYByg516r6XBGfnHoGpD3GKfpUMZQc4TVVYwAlhH/i/YgkTXDzZAqbG1YmDG6bXwWn5YZiZzk4zYwXEYHoXdTHAxd+KwNTYOCVwwNgWTs90YWY6OnmrpsLVRJsg1PRfg7FtnaLnwOy1cnp/CCZu7ST9HqH+8naEmhP/YH43c/qZnQIX3yWWAFcfyJYCZ59kgek1cfrrDjPT3Km/Nhmul2VaIlx9UGEyXE3nE5iZlk65/MdYYOxNiQi3bU9Pgqth/58A91eKHcIv8w0Qdv3vSoSrn3YeYVfIBZh6U6dJRxH2+kxPhtt15ngC3JyvyjD1nk6rK2BqHJzOSiLsdSlHuNPTLhkebtekEeFwQRHhdz6rFLh4ykeEuCQ3wm2SK5Pg5vwtRJif0oGIoyvLEOZzqCfC9QIA0IUWa9wCAAA=" />
    <add key="/intelcpu/0/temperature/3/values" value="H4sIAAAAAAAEAPtz/Z0Fy797HgwMVk4/XBOZGMDA1imqIQXK9nD6tyIByg516r6XBGUHOOUegan3cop+lQxlOztNVVjACWEf+H96KRNcjYM5TI2lkwoPTK+FU/chmJnmTjNjBcRgehd1MUDFrZzeisDU6DtVcsLYek5ndWBmmjqlqqXCxX+Yw9ToOH28BGMbOv04BLNXy8lyNkzcwMnkA4yt63R5eyJc751/CXD2w+wUuJqloglwc0x4jrLA2L/cYeZoO1XUJMPZstMT4e63LEiGm9n5JAHutsMqCDccfY1QszcRJq7htD49CW7vy78JcP9WpiLCZz0XQu/nrkS4G6acT4abE3EBYc6Mowlwe12nI9RcPI7w+zUlRBytroCpMXM6K4lwc2wFwg0XHRF+NxVHhP9rpUS4mwWtUuDs8+II96x6goij/8sR4SlRjFCT1oFQs30pInw41BFxBwCc0nQS3AIAAA==" />
    <add key="/intelcpu/0/temperature/4/values" value="H4sIAAAAAAAEAPtz/Z0Fy797HgwMbk4/XBOZGMDA0ymqIQXKDnL6tyIByo5w6r6XBGWHO+UegakPdYp+lQxlRzlNVVjACWEf+P9mGRNUPNBJ3gymxs3JmRem19kp5yDMTFenmbECYjC9i7oY4OrfisDU2DpN4oKxrZy2aCfDzWlUT4WyrZ1+mMPUWDi9vwRj2zvdO5gI12s5G2Gm/0cY29LpwvZEOPvuP5jfzZweZcPCxNHJxCIBbv6NJ8lw9ikWmF5Tp7/uMDPNnXY3w9TYON3uT4TbK5efDFfDzJYIV+PJjPDjnTfJcPb+RIS/1qcjuflPAtzMytQkeDhc4E6Gs191Ify1+DzCzZ4XkuB+nH40Aa7ebXoyXP294wlwt21UhKn3dFpdgQj/s5JJcDXllQi3XXZMhpsvKYZwv3jcURYYe4sYwr+HnibC1T9fhghDoxKE3swORDzqn0aoKWZIhKsBAIVm+83cAgAA" />
    <add key="/intelcpu/0/clock/0/values" value="H4sIAAAAAAAEAKvW+2HB8u+eRx/DCSf1xEQmBiBgArIjW1PAbEYg+82WBLj41AINdhh7x65pnAxgcOD/BwEesJoTQHFlm2S4+oAdh1lg7A/M7GIw9YGXOMFqQoHisyqT4OojtibC7T3rjjBn4dtuTji7NwGuxn57ClyN30WE3j8WCL9M1kKoWVsI0csMZEftS4arXxWBUH+MVx3ux4UTEWq6A+LhajQ7XnPD2OedUuBm/vyJ8MtpxhJRGLslNxmupiMO4a+KGIQ5n7cnwe0604wwR6JOFe4eAHpPQriwAQAA" />
    <add key="/intelcpu/0/clock/1/values" value="H4sIAAAAAAAEAFvx74MFy797HrMPRLm+LU5kYgACJiA7MSkFzGYMiHG9eTkBLn63QoMdxu64PJeTAQwO/Bd9zQJW8wiofqlfMlz9ndtQvQ9iXf0PJkHYQDV5RnxiML1PDjOBxeOBak55QNQwA9Uov4C4h7Eg3tXQOhluTvxHiNuYgOJZ1klw8c9fk+D2vtyF8Ev0cogbGCckucYcS4GLz92XCHdPi2wi3Jxo+xQ4WyYZopcZyH59JRkeJnPFEObvEkH4S30Nwu8bkMLzBVScEciWt46Hq4/bi1CfeyIZ7i/ZKoRfNLIRftwVFA9Xw8EOcSczyHwuhPmB/Qh7V+9Ohtu1dOJhFhi7bA3CLk41aBwxJLruPonQGzrrKAuMPSMYop4ZqCY/ABEXLBkJcPPZzifB3SMdhAjDGZwI909/lgi398EahB8vVSbB3ZDcB1UDjK/nOxF6P5glws0HADXd9cC4AgAA" />
    <add key="/intelcpu/0/clock/2/values" value="H4sIAAAAAAAEAOsI+2zB8u+ex+yAGNf7pYlMDEDABGRL5KSA2YwHolxj9iVAxIHsnBka7DD229TZnAxgcOD/khB2sJpHE5Jcfa2SIeofxLq+WnuYBcauOMMtBlOfLsoKVhMPtOtVaBKYzQxk17+GuIERqH6SRTLc3s/vIO5hKoh3PRCYBBe/8jEJLu48NxEurrghAW6Ox7EUuL/+7UuEq2eTS4S7c6UtVA1DoqtUNUQvM9Ccjv0QNzAC1e/VR4SPmyDCDQ7TEP59145Q0zspGR6GxcHxcPXta5Pham4eRLCZyxFmPk9Pgpup7oPQ+04gBe42bi2o+UC9Xi2JcPcvW4YIt76fCDMnLk+A2/V0DkLNdIsEeJh4HUCEyfbKFLgaCUWEv2ISkuFu8LNDmGMfgTB/wqMkuJqtfoi4C+NIgqspe4CwK3UHQvxKD8LNqyYi1DSsRajpMICIMwPFAXoobHfEAgAA" />
    <add key="/intelcpu/0/clock/3/values" value="H4sIAAAAAAAEADu0/6sFy797HnMDYlynVSUyMQABE5AtWZQCZjMC2Qv2JkDED0S5JpdrsMPYB4RncjKAwYH/vss4wWruPIh1PeafDFfPfQeh9+e5JAgbqMYmg1MMpvdyATtYPAYoPq0AooYZqH7lBYh7GIHsrdYIMzUZUuHu9POCmlkQ7+rwJwmuZu4EhF/YF0LcwAg0f/rhFLj4hHOJcPVf5BDqF2qlwMWVWiF6mYHif48kw92z2w6h99APpHCbmgz3o98shBqFfoReW+94iDhDomvN4WS4+4v2JsPNya1KgrNfJyD85WsWD2evMEiBu20LJ8L89gkIe/U3INzT/xlhzs6VCXDxxDZE2F4NToDb+25rIlyNXAEiTFj0EeLxEcnw+LLyQ5jz2Q4R76/eI+J0WSDCnC5OhHsOPUOY6bkZ4fcppQg1ypsR/prbj1Az2TIRHg4AyJu8j9ACAAA=" />
    <add key="/intelcpu/0/clock/4/values" value="H4sIAAAAAAAEAKvW+2HB8u+ex4KCeFf1xEQmBiBgCohxjWxNAbMZD0S5vtmSABEHsmv2JcHVzL2SiBC/mwwX37FrGicDGBz4/0GAByx+ByiubJMMV//uXQJcfdJJhJkfmNnFYHoDL3GCxWOAbptVCVHDDGRHbIXYywhUf9YdYe+x/xA3Mz2Idf3siDDzxeojLDD2wt4EuL/st6fA3eN3EeH3PxYIf03WQpi5thCilxkoHrUvGW7OqgiEeoX3CPbi2Qi3MTcjxBdOROjtDoiHq9myDRE+ois02GHsBE2EmvNOEPcwA9k/fybBzalbjTB/a8cxFhh7005EOC/oR7jHyxURp7zfE+F+fOGMCBN2FoSZLbnJcHs74hDuVLVFmDPrfhI8fN77pcDtusaGiIsvLxF2fd6OED/TjGDfWIiw9+gyhHi1aSLcDQCRzcqpuAIAAA==" />
    <add key="/intelcpu/0/power/0/values" value="H4sIAAAAAAAEADWRXUhTcRjGpY0NoWAXfdzFoFYUEnQhLJjEsxZW0MqLyC5KXVJgjLaWM9tpzTz7oFxLRmYbsY2kghaFrdmKUiwtozDnjEg0GBWK4kaRJoorzmPn6sfD733e9/B3bPujlS+N74mng9hcU7Oi6N/3ZfsIjrhrJX5UN4vpRLXEli6VXnhpktizSaG/laGvNP2GMHZc4seRH3j6rK24SPp6CnnVSilfbfNjg44ODjkxM8NO7Xo7TAPslGdE5GXKtf9nK9LFUp4+0I5QIx2124PKJ9w7umDDh3J2njyRQn+BN5e+MuMX6A8ULBj+SY7f9WFNirPfJq2I+XmDW+PHzi7Ozm30wjhE5235KSxqyUORBgS30jHUiXhg5az6oYg33byhR9aIssP0x0fMUOfIR3u9uB2ms064DFkz8/hkGLFW5v0GEVcOVkl8SQgjkWSuWfAg8o6ctdzAWID/MmE8jZv7ydd0NlRv4ezHRBCDet7Z8NqN+Xk6L4ajcN7n3gtXvehrZ2dHiQv5HJ3FQD06U8tvbYggGqBTOVuPfbuZ116PYdUce+xNWUzs4i6dIwWlnPm95FmIZs4+73TBd4wsjJ6Bpow92anzCH3lXkXrOeSM7HGpmvBJwXxwrx0VU+ws+e5GW5J5ZkcL3jeTrdEWfI7RCVU50Xdn+a2nL8JRyrxjyYe/mD7hm+gCAAA=" />
    <add key="/intelcpu/0/power/1/values" value="H4sIAAAAAAAEADWPbUiTYRiFrUkiFkjRxDJcjTBzE2MKRo3OU0gfMplRmGi2aUSQQZIUsmXBposNWR+w2UJqxObAippzun6UEqsMh2RlFiwJIhTFrQzMiizeQ8+vi8N1n/t+TIU/SlP/fNz3xR5AntG4POXfs+acENVtxyUuanWL2ZBB4gdFUWF+XC9x7sMe0fWGvtzgFuZ4g8QJT7sYeORKT5He4FIyc6WUlyh9UO6kc1+zH3Nz7Jyqykf9MDu71p9BUpYm/z9bOZYu5ZFPQ/C00Lm4zYojfdwrC25CbC87ZzVbxLMl3lzcloF5QT/4NAevv5H9PgfWRjjb0psLbwdvONjrxK5+zo59tqDiFR39oQz8LiX/1GlwfSudWvkF3GvibLfyHJ4/4Q22HVpoq+gv+5AJRYJ88qsDd27SmTzcAZmFeWB6At6rzEPZzXDoj0k8kBdHKMx8g82EWy/J17JiiDv5l/bGNbihI9vVBTDkc1YRjmB0N+88FbNhcZFO4fA0Wnu41zJuRbSTnYNN1Ugm6Lz1qRGM8F/hmve47aSz/YUKB8qYO/3zWLXAHv93s5jaw12qjWqRlsr87DslrKc5m63S43IdOeDKwmYte86Xl8Ezyb0zC8VIVLDHWHMU4yuYxxUqVM6ws/PuJbjCzHXNboxYyKP2K5jw0lndWI6on/mv/lqYSpiv63bgLzb5KLLoAgAA" />
    <add key="/intelcpu/0/power/2/values" value="H4sIAAAAAAAEADWSb0hTcRSGJTVxFEaygQkqTDMLLJbWCu85aKxGqCj9sYKmu/lBhBYlJKYMcbkkTbFg6CJsmfrBLChbuoUFbZXRinKlX2apBanhhoNyZq24r91PDy/Pec/5wa3NXFJH/ZnUxo/KOV2vXxPx79MkHuLjjeUS6xp8wvfBMonHDR6hbkSU+MPh33TDC78i7wzV+U5JfLvVTEMOS2yE9D0NBzask3Ih2UTKHDjjSbdoYQGdJ0J3SRxFZ4F7EwciYxT/Z4vfx0q5KrePrDVwghluOvYQe/dW2chzAJ1NDxr5eRg3b1ZuoWAufKVxRBhbBO+/N0Py4dWb1Zlku4IbNKoW5keYtSfMUeE7OMvJA8KKGtz6NYuubYVz1fKZBs5itnN2ll48wQ0vn5WSUAI/zVlPKX6wolfO3dfhJBRpOdKEXCYy29qRN3d7qLmoVOKlPYs0aEcuPq7krlfgiQtD5GvDW4T8ndRZADZrSnLKMjBbsy2R3+bhTsXuXRQKwdGG9Wzsx94OY5DcHej8NX2ZAn44b6ztdH8Y79LF9fDNNjhz1S10UINcpo7m9T/RU3XuEn/bh11m5xGOiUJuMLjo4mnMThrjuUkHVm2P5jQBPTumUsj6CXtP9nvJX4ge7xcnfVyLXHS4qHgenXdSN7LFvvrvnc/i1yawI1/PEzY4P8pnyN2LfN5VTbXZyI/KkvgvJYJduugCAAA=" />
    <add key="/intelcpu/0/power/3/values" value="H4sIAAAAAAAEADWPXUhTcRjGJUciJEVkH3fRpy3wTvKiwzOTSqREozS7KLUQChKiIsKRmCv6oA4VDFuFjsTAjwvDts7O3M52dlwrlzMtljADCRokblhOJ6HFedb/6sfD733e999cuFhsWJ4qMyGI3fX1q7L+veUfk6i9dU7nsrUqZgbrdNb2hWD2NOgcN37Giwn6aeMwzLGzOouHVLx1WXOz9KesJNet0fMrRh+276fz7uYQZmfZ2d/tRkOIndN7A0hm52z8P1v1KVfPFysDsF2n89Hixck33Nu0ICN8mJ3+VBTDK7z51G0Jv0ro3513YnyObL6gIl/i7KtNLtgf8Ibppgjg5Kwg+lExRqdxixN/isknJBeeGOkUfVXQf4mzJsWPoJc33JuUIdTQvxaRsTVBTj3W8PIZnSMtIWS3MTfEw7A/Yn7cpuB+5Rmdf1cHMejIdC59QMd78vcBFTGRf3kekfD0KHlXrwN1ezhbXhDC6AHeOSXISKfpxFKjuNHLvecLVWjtmc6UG8kEncBlN15L/FftXBSdIp2+miGUH8z8d34MeQvs6dowg3gpd10dmECOgfn6hx5YLnI2f4eKO6fJ4+0+7BTYszkswfaNe0eqFSQq2LPU48WX1cwtVg+qfrLTJARgdTA/1hjESBtZbA0jaqdTss0HrZt5X4+M5iLmnrSGvwWz72roAgAA" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEADWRX0jTURzFZYWkA9HABUZZPvgQtRdlufv1Z3Kgmhgi0sMeWjnT0hQ1K7aXHtJq1Yt/6GXk1AqKRCMNKYfivwhKFLGXMChFZVaiFqbNkevH79R9+nA459zDvcPzjfad258dPdt2rDw5b4rRT3G8YLqrxOA0h8BdU2zwaFQh/S09pzwKcSfcBq9H7Wh1VppjjDMc3cx4YOhnWwXl8+ypMwsmY5k9YxUshNlZtKHQHfIk/8+u7vMbelZAIWJm1hRU2NHCu7ZGFEK2UoMtaYKiI+TEGkHeQ3p2lQk6D/Mu35Sge436vQ5BUyH1iWlBShz7rQGB/ys9ne2CzAFuC+qcn8t+5yuB8xCzgQ3Br9l/2TXBDRt5a0Hw20WOjAqWP7GnqU7g+sj+1DsCcx57Jl8Lvj2mfmFMED5Jztc3e330WBYFCTby7aRseNvYf79e8OU6/ZfeCN7PUR9qE4SSqPd5BbXN5HK3YHxPGf8rS1BVe87gzJ8Kt45RT1+3488KNw/sVmjwsPPoFf3vDnLDo7056LeS1f4cLFew39KuwfeUfPWZhp5F8pzOP56zx3VTw7vj1Jcuavj+gm+bUqJhKUJdOTRsNtLfe0DDhxB3Bgez0dFAf8FpwepL+u9eE3T10l99WTDj5zZTWOEvIQ6/ptwCAAA=" />
    <add key="/lpc/nct6779d/voltage/1/values" value="H4sIAAAAAAAEADtQ2mbJ8u+eR6djgz2z5zEWBiAAse8XJTAxgEGD/caZyXD2es9EMHv2kQb7Zf3C3BDxA/+PKX2GizO+TwKzVdka7Uu/IdjGPBC9c4BqbiyTF4XprfX9CFcj9y8Rztbsh9gr1NxgXyqSBDffPyUFYf5ShJm7zZLham7sRJijX5AMV3PSEuGeNP0jLDD2zuUI8+N+I9Qslz0KV1PtmAQ3J+dXAly942+EXTP3Iszs5EK4R4gRYf5+22S4euv37ZwwdqQYwp2dqxFqzNpU2WHs185J8DDZ6Y0In3dyCPUaAgj1V1Yg7F3CiPDX7BwNuBoXRUSc7q1BmLPhqjpcDQCAVkSOKAIAAA==" />
    <add key="/lpc/nct6779d/voltage/2/values" value="H4sIAAAAAAAEADtQ2mbJ8u+eB79ukEN5SzITAxAIANmrXyeB2SUZgQ4HvBPA7ISnAQ4bZybDxdd7JoLZShuCHJb1C3MzgMGB/8eUPoPF3bcFOzC+h5hjahzsUPotCS5uzAPRu/pjkMONZfKiML21vh/B4vtKgh3k/iXC2Zr9EHtn5AU5lIpAzDEBmumfkgI3s3RpIlx8t1kyXPzGToQ5+gXJcDUnLRHucSyFqLnwPdhBdVcSXP3O5Qg1cb+T4GqYvyHYS9QR6qsdEeI5vxLgdjn+Rrjtmkky3O+HOxLh4dPJlQw3R4gRYc5+22Q42ysa4Z55BxLhbIGzCDc4syH8GymGCId6VQ12GNuBB+Hf184QvaA0sNM7GR6n7+QQens6EOoVmPz4YOz+OQj3uCgi7N1bg9CbsAihV74d4S/DNQj/AgABvs6DiAIAAA==" />
    <add key="/lpc/nct6779d/voltage/3/values" value="H4sIAAAAAAAEADtQ2mbJ8u+eh9KGIIfylmQmBiAQ0A1yWP06CcwuyQh0OOCdAGbfWBzgsHEmRM1rtUCH9Z6JcPXL+oW5GcDgwP9jSp/B4he+BzswvoeYAzK/9FsSXNyYB6J39ccghxvL5EVhemt9P4LF95UEO8j9g6hx3xbsoNkPsdfEONihVCQJzvZPSYGbWbo0ES6+2ywZrvfGToQ5+gUIc05aJsHtcixNhJujugshvnM5gh33G+F+ZqhfQGbKZx5hgbFzfiXA1d/aocYOY3dyIdwjxIgwZ78tQtwrGmHXvAOIsBU4i/CvMxtE3BTIjhRLhqvvXI0wRyUpAc6+JJ4CV+PAg/Dja+ckuPk7vSF61wDj4p0cInx6OhLherMTEXoN1RDuv7IC4eYlSP7aJJICNydqN0Jv/xxEuLkoIvyytwbh/oRFCHvl2xFmGq5B+BcAGpeG77gCAAA=" />
    <add key="/lpc/nct6779d/voltage/4/values" value="H4sIAAAAAAAEADtQ2mbJ8u+ex6myOvvylmQmBiAAsVe/TgKzt3+utT/gnQBnb5wJUXMSqGa9ZyKYfednnf2yfmFuBjA48P+Y0mew+LuaenvG90lwduk3CJuBocHemCcRbteNZfKiML21vh/h6uX+JcLVa/YnI8wRQZjpn5ICV1O6NBEuvtssGS5+YydCXL8gGe7mk5YIcxxLEXap7kKI71yOYMf9RrifGckvS9QRaqodEeI5vxIQ5v9GmP+Z7S03jO0VjdA770AiPGwFziLEndkQ4RwphvBX52oEWyUpAa7mkngKXK8DD8Le186ION3pjYjrd3KIsO3pQKgXMerghLE3iSDMjNqNUNM/B+FOF0WEuM0ydXYY23ANwnwAqLZm6XACAAA=" />
    <add key="/lpc/nct6779d/voltage/5/values" value="H4sIAAAAAAAEADtQ2mbJ8u+eR2w/k4PT/NfcDEAAYi/rFwazGRgO/D+m9JkJJr7yoxo7jP30rLwoTE2B2ke4GumvJUUwNgDEHvSqYAAAAA==" />
    <add key="/lpc/nct6779d/voltage/6/values" value="H4sIAAAAAAAEADtQ2mbJ8u+ex7LZLvblLclMDEBwT8XNfvXrJDC7QyzS/oB3ApjtlJBqv3EmRM1amSj79Z6JYPbKY972y/qFuRnA4MD/Y0qfweIWnY72jO8h5mz7bGs/URaid5Grmb34U4iZDAwO9k/PyovC9BaofQSL3/lpZy/3D2L+1hNm9pr9EL3Kty3tS0WS4Gr8U1LA7Ow9JvalSyHqlxbY2u82g6ifcMjU/sZOiPitc+b2+gUQ8ZgUa/uTlhBzzOKs7B1LE+Hmq+6CiP+7YmG/czmE3TjV2T7uN4RdZ29qz/wNoXeJehLcX9WOCLfl/IL4kRHoR8ffCLddM0mGm3+4AyL+JtDCvpMrGW6+ECPEnJh+J/v9thBxj4dW9l7RSXD2vAMQvflCzvYCZ5Pg5jizQcRjgXojxZIR5q+GsCMtTexVkhLgcXRJPAUejw48iXA1r52T4Gp2ekP0rgCqeScHYS8B+qUH6v7c59b22YmIcDZUg+itBfrlygpEuC2B+gsUL5tEUuBhFbUbEdf9cxBh66IIEZ8i4WK/tyYZLp6wCCKuAowv+XaEmYZrIGomvbWxBwD2QbAW3AIAAA==" />
    <add key="/lpc/nct6779d/voltage/7/values" value="H4sIAAAAAAAEADtQ2mbJ8u+eh2BEpEN5SzITAxB0iEU6rH6dBGaDxA94J8DZG2dC1MyaGemw3jMRLh6yXZibAQwO/Jf4/Qkuzvg+Ca5+oixCr/hThJlPz8qLwvQWqH2Eq5H7lwh3z7zFR1lgbP+UFLhejmlq7DC2fgHC/SctEe53LEW4U3UXwj07lyfB1Sd+RJi/RB2ht9oRwc75lQBXf2sHxF4Qu5MrGa5GiBGhfr8twj0/XiDUO7Mh3BMphlDzcdZsGRh7kwjCj1G7EeHQPwfhZhdFhDl7axDmbLiqDrcLACWRYyfgAQAA" />
    <add key="/lpc/nct6779d/voltage/8/values" value="H4sIAAAAAAAEADtQ2mbJ8u+ex+qPQQ5O819zMwABiB2yXRjMZmA48F/i9ycmmPjKj2rsMPbTs/KiMDUFah/haqS/lhTB2AB3pNO4YAAAAA==" />
    <add key="/lpc/nct6779d/voltage/9/values" value="H4sIAAAAAAAEADtQ2mbJ8u+ehypbo73T/NfcDEAAYodsFwazGRgO/Jf4/YkJJr7yoxo7jP30rLwoTE2B2ke4GumvJUUwNgAUPncLYAAAAA==" />
    <add key="/lpc/nct6779d/voltage/10/values" value="H4sIAAAAAAAEADtQ2mbJ8u+eh7R+rJ3T/NfcDEAAYodsFwazGRgO/Jf4/YkJJr7yoxo7jP30rLwoTE2B2ke4GvfeoywwdqlIElg81Trezj8lBa6mofGPLYx9STwFrsaBJxGups5TXQ3GBgBd2IrrqAAAAA==" />
    <add key="/lpc/nct6779d/voltage/11/values" value="H4sIAAAAAAAEADtQ2mbJ8u+eR0OWjZ3T/NfcDEAAYodsFwazGRgO/Jf4/YkJJr7yoxo7jP30rLwoTE2B2ke4GumvJUUwNgBeAPzSYAAAAA==" />
    <add key="/lpc/nct6779d/voltage/12/values" value="H4sIAAAAAAAEADtQ2mbJ8u+ex52fdfblLclMDEBwqqzOfvXrJDB7++da+wPeCWA2SM3GmRA1J4Fq1nsmwtWHbBfmZgCDA/8lfn8Ci7+rqbdnfJ8EZ0+UhehlYGiwF3+aAGc/PSsvCtNboPYRLu7ee5QFxi4VSYK7wT8lBa6mgeOmOIy9RB1hV7Ujgp3zC2GXuAHCzMMdiXA1nVwItwkxIvTut0WIv5A+AtcrcBbhHmc2hDmRYgj1a3kR6i+Jp8DVOPAkwtW8dkaYs9M7GR7m7+SS4ep7kNyZnYjQu/KCGjuMvUkEYf7LcIi9ILaLIkL93ppkuF0JixDiAcbH4O4EALYLGiEQAgAA" />
    <add key="/lpc/nct6779d/voltage/13/values" value="H4sIAAAAAAAEADtQ2mbJ8u+ex+wjDfblLclMDEAg1Nxgv/p1EpjNwNBgf8A7Ac7eOBOiptOxwX69ZyJcfch2YW6ImgP/JX5/AoursjXaM76HmAMyf6JsMlxc/CnEzDlA8adn5UVhegvUPsLVyP1LhLM1+xFuKxVJguv1T0mBqyldilC/2ywZbu+NnQjxHyuPssDYjqWJcDWqu5LganYuR5gf9xshvlwWobfaEaEm5xfCL46/EXYpnVBnh7GFGBHhsN8WEQ5e0Qjz5x1AuEfgLELcmQ0hHimWDLerczXCHJWkBDj7kngKXL0DD8I9r52T4GG40xsRj+/kEOYs2PWSG8beJJICtytqN8Kcy3sPw8Nhbw3CPQmLEGoCjI/B1QAA9lOHAGQCAAA=" />
    <add key="/lpc/nct6779d/voltage/14/values" value="H4sIAAAAAAAEADtQ2mbJ8u+eh1NCqp3T/NfcDEAAYodsFwazGRgO/Jf4/YkJJr7yoxo7jP30rLwoTE2B2ke4GumvJUUwNgDXGazlYAAAAA==" />
    <add key="/lpc/nct6779d/temperature/0/values" value="H4sIAAAAAAAEADtQ2mbJ8u+eB0ODk1N5SzITAxj4Oq1+nQRhNwQ5HfBOgIqHO22cCVXTEO603jMRKh7kFHRPmBvCPvBf6sonqLiPE+N7mDnuThNlYXodncSfQs1scHb6+EVeFKY35f8HuLjcP5j5Nk6a/TC3WTmViiTBzfFPSUGIL4Wpt3TabZYMZ9/YCRVvsHDSL4C5wcrppGUSXK9jKUyvhZPqLpj5Zk47l8PY1k5xvxHizN8Q7CXqMHPMnKodYWxzp5xfMD9aOjn+RrjhmgnCbYc7EH7s5EqGu0GIEeG2/bbJcDO9ohHmzzuQCPeLwNkkuJnObDAzHZwixZLh7uxcjTBHJSkBzr4kngI3x4EHEQ6vnZPg5uz0hun1dHonB2PbO/XA3W/llJ2ICH9DNVj4mDtdWZEE9/sSRgR7k0gKXE3U7kS4e/rnINS4KCbCw3BvTTJcfcIihHr5dkT4G65BhCEAFMa4F9wCAAA=" />
    <add key="/lpc/nct6779d/temperature/1/values" value="H4sIAAAAAAAEADtQ2mbJ8u+eBwODhpNSwTEWBjDQcDrgncAEYWs6bZyZDGVrOa33TISwG7Scgu4Jc0PED/yXuvIJKq7vxPg+CarewGmiLEyvnpP40wQ4++MXeVGY3pT/H6B6NZzk/iXC2Zr9ML0aTl9Cujlh7Bs7oWoY1J30C2Bq1JzceN5ww9jM32BuUHGKt1rjB2MbroGpV3YCANihCmf8AAAA" />
    <add key="/lpc/nct6779d/temperature/2/values" value="H4sIAAAAAAAEADtQ2mbJ8u+eBwPDAvvylmQmBjBo2Lf6dRKUfWD/Ae8EKFvhwMaZMDUMDOs9E+Hqg+4Jc0PV/5e68gmmxoHxPdwc+4mycL0O4k8T4OIfv8iLwvSm/P8AM9Ne7l8iXL1mP0zvA/tSEZiZC+z9U1LgakqXItTvNkuGm39jJ0JcvwBhzknLJLh4mv4RFhh75/IkuJq43wg1zN8Q7CXqCH9VOyLYOb9g/nKwd/yNsPeaCcI9hztg4gIOnVwI9wgxws2332+LCCuvaIS98w4kws0ROItwpzNbItzeSDGEmZ2rk+F2qSQlwM25JA4LtwY7B55EuPrXzoiw3ekN07tg/zs5hHt6OhDqsxMRfjRUQ4TDlRUIty1B+Mthk0gK3D1RuxHm9M9B6HVRhJvJsLcGEW4JixB2BRgfg8cXAOlP+R/EAgAA" />
    <add key="/lpc/nct6779d/temperature/3/values" value="H4sIAAAAAAAEADtQ2mbJ8u+eB0ODnFN5SzITAxjwO61+nQRl/3M84J0AZXM7bZwJVdPA7LTeMxHKFnYKuifMDVFz4L/UlU9Q9UpOjO9h5sg5TZSF6dVwEn8KM1PV6eMXeVGY3pT/H6Diyk5y/6DmM2g6afbD9Go6lYrAzFRx8k9JQYgvhanXctptBlOv5XRjJ8Ic/QKYuILTSUuoOQ1qTo6liXD1qrtg4tpOO5cnwd0Z9zsJbj7ztyS4mUvUk+B6qx0RanJ+Qf3YoO7k+BvmBkWnayYwNyg5He5IhIdJJ1cy3O9CjDBz1Jz22ybDzfSKToL7d94BmF5FJ4GzCHc6s8HEJZ0ixRB6O1fD7FV1UklKgPv9kngK3J0OPDC9Mk6vnRF27fSGmSPq9E4uGe73Hrj7VZyyE2F+1HEyVEuC23VlBcIvYWLHWGDsqN2J8Ljon4MINxfFRHj47K1JhvsxYREifuXbEWnAcE0ynA0AfbDX9NACAAA=" />
    <add key="/lpc/nct6779d/temperature/4/values" value="H4sIAAAAAAAEADtQ2mbJ8u+eB0PDfqfylmQmBhBo2Oe0+nUSlL3X6YB3AoTNsN9p40yEmvWeiXA1QfeEuSFqDvyXuvIJKr7fifF9Epw9URaql+GAk/jTBDj74xd5UZjelP8f4Orl/iXC1Wj2I/SWiiDM9E9JgbNLlyLU7zZLhovf2JkIZ+sXJMP9ctIyCa7esRShRnUXQnzn8iS4+rjfCPHlskdZYOxqR4R7cn4h/GXC5M8HY3tFI9TMO4BwZ+T3V7Bwc7okjvCLA08i3N7Xzkju8Ub4650cIkx6OhDuz05EmG+ohrD3ygoEewkjwsxNIgh7o3Yj9PbPQahxUUSYv7cGYe+Gq+rsMDYAsBagl0wCAAA=" />
    <add key="/lpc/nct6779d/temperature/5/values" value="H4sIAAAAAAAEADtQ2mbJ8u+eBwPDASen+a+5GcDggFPQPWEY+7/UlU9MMPGVH9XYYeyPX+RFYWpS/n+Aq5H+WlIEYwMAg0VGCmAAAAA=" />
    <add key="/lpc/nct6779d/temperature/6/values" value="H4sIAAAAAAAEADtQ2mbJ8u+eBwPDggPlLclMDGCw4cDq10lQ9oQDB7wT4OyNM2FqFhxY75kIVx90T5gbwj7wX+rKJ6j4iQOM72HmHDgwUTYZzhZ/mgDX+/GLvChMb8r/D3A14blvtGDsayYItx3uSISrWbKkixPGnncA4R6Bswh7ndkQ4pFiCDd0rkawVZIQ7rkkngJnO/Akwv372jkJLr486xgLjN2D5J7sRATbUA2h/soKhHuWMCLYm0QQdkXtRujtn4NQ46KIcMPeGkQ4JCxC+Eu+PQmuxnANwl8AM3oQGuABAAA=" />
    <add key="/lpc/nct6779d/fan/0/values" value="H4sIAAAAAAAEADtQ2mbJ8u+eBwMQOM1/zc0ABUH3hKHsA/+lrnxigomv/KjGDmP/l1YQhakJu/EBrkb6a0kRjA0ANA0/6GAAAAA=" />
    <add key="/lpc/nct6779d/fan/1/values" value="H4sIAAAAAAAEADWSXUhTYRzGtS/CCYZZxirN0EIKPyCKRUZjD5EaBF4ILbCpu6pEIQ9iCV20nfd8bI2xlAKdFCuDKaLetIZ0qC4cVMRYIQZDJKkQKkIWacziPOu9+vHj/zzv/z0cQ5JtW7Lpc0ctIfR5Ojfl/Ts1/iCiKx0mz1nDMJpdJn+8/gBT9znjOjuKycZ2kyfio2hJ77TkmcfYsKZ+mj42Ekb+d/Y0JO4iuJ/Zsd4QSpfZ2dZ9Bxt7D+z6n22d/2H6QFUYZVn2X+lSUB1g9tYJHVIJO63DKi643Sa/WBqC9IjzzoMC8eOcf/1WxXyMfusRHbU99K2TMhI29py0CdglzmTiMqqe0fenvYiNkYuTKtrWye+6NGzOkH2XbyNymPw048FNO3k54MW1Nb6xabsG+zr7fV8UfDjGHZJ1Cl4q9AO//VAL6LUFFcX57Glc8+F5A/15h4KmS/SvnDrCBrN/5vzY8Yb+dFDAsY3+1D4/Lu5mdlwTUKPkr0sClR3c7V6RF8lSfsMbqxrOFDJb2OfFioOdzlqBWDOz3eVD+FaW+08SQfhy+382BK62k1ezOuoPMfvpsYLUE3J6j0Ak966aiMB0Ce/9JSlwxpk1Fj0IDHOmcloHKnJ+RMHsAO8dtGhwPaTvCckoF5x/XyFQP86Z6IyMv2K6dQTcAgAA" />
    <add key="/lpc/nct6779d/fan/2/values" value="H4sIAAAAAAAEADtQ2mbJ8u+eBwMQOM1/zc0ABYWsIlD2gf+/13xigomv/KjGDmP/l1YQhakJu/EBrkb6a0kRjA0A4egbhWAAAAA=" />
    <add key="/lpc/nct6779d/fan/3/values" value="H4sIAAAAAAAEADtQ2mbJ8u+eBwMQOM1/zc0ABYWsIlD2gf+/13xigomv/KjGDmP/l1YQhakJu/EBrkb6a0kRjA0A4egbhWAAAAA=" />
    <add key="/lpc/nct6779d/fan/4/values" value="H4sIAAAAAAAEADtQ2mbJ8u+eBwMQOM1/zc0ABYWsIlD2gf+/13xigomv/KjGDmP/l1YQhakJu/EBrkb6a0kRjA0A4egbhWAAAAA=" />
    <add key="/lpc/nct6779d/control/0/values" value="H4sIAAAAAAAEADtQ2mbJ8u+ex4b1s53KW5KZGIBg0sSFTqtfJ4HZW7cscTrgnQBmr161zGnjTIgaJ8flTus9E8HsgIAlTkU6ItwMYHDg/6/WT2DxP78WODG+h5izcME8p4myEL3e3rOdxJ9CzHRzm+PE7awgCtPrtfEDWPzunTlOcv8g5qsoz3TS7Ifo/fZ1ulOpCMRMEZE5Tv4pKWB2QjxQfGkinL3bDKH+xk6EuH4BRLy3Z4bTScskuLhjaSLUzdOcVHdBxI2MpjntXA5h9wDVx/1GiDN/Q7CXqEPY585Odap2RIjn/EqAu8HxN8IN10yS4ezDHRDxjx9mOHVyIcSFGJPgevfbQsSnT5vm5BWdBGfPOwDRGx01w0ngLMIvzmwQcSnJ2U6RYslw93SuRpijkpQAZ18ST4GHiQNPIlz8tTPETEmgOTu9IXpZWec7vZODsJuaZjn1dCD8lZ2IYBuqJcHDM+ACgq1xC6Fmk0gKXDxqN8Le/jkIv7goJkLT5HSnvTUI9ycsQqiXb0eEv+GaZLiZAOT1fQ3cAgAA" />
    <add key="/lpc/nct6779d/control/1/values" value="H4sIAAAAAAAEADtQ2mbJ8u+ex5vX3k7lLclMDEDg7R3utPp1EpitrBzvdMA7AcxetSrJaeNMiBobmxSn9Z6JYHZUVJxTa7AINwMYHPj/PO4TWNwHaA7je4g5WZmBThNlIXqjo7ycxJ9CzNy2xcdJIktBFKbXtusDWPzxQ18nuX8Q87m43Jw0+yF6N6x3dioVgZgZGODj5J+SAmY3Nzk5lS5NhLN3myHU39iJENcvgIjfvePidNIyCS7uWApRExbq6KS6CyL++5ed087lEHZlhYtT3G8I+w9QnPkbgr1EHcI+d9bWqdoRIZ7zKwHuBsffCDdcM0mGsw93QMSXLXV16uRCiAsxIuzdbwsR19BwcPKKhohrAtnzDiTC1QicRfjFmS0RHs6RYslw93SuRrBVkhLg5lwST4GHiQMPIhxeO0PM/PbV02mndzI0TIKc3slB2CdPeDj1dCD8lZ2IYBuqJcHNCbiAYGvcQqjZJJICF4/anQj3Y/8chF9cFBHq99Ykw92csCgRzpZvR4S/4ZpkuJkAupwGtNwCAAA=" />
    <add key="/lpc/nct6779d/control/2/values" value="H4sIAAAAAAAEADtQ2mbJ8u+eBwPDCSen+a+5GcDghFNrsAiUfeD/87hPTDDxlR/V2GFstYkKojA1+skf4Gqkv5YUwdgAIVRIgWAAAAA=" />
    <add key="/lpc/nct6779d/control/3/values" value="H4sIAAAAAAAEADtQ2mbJ8u+eBwPDCSen+a+5GcDghFNrsAiUfeD/87hPTDDxlR/V2GFstYkKojA1+skf4Gqkv5YUwdgAIVRIgWAAAAA=" />
    <add key="/lpc/nct6779d/control/4/values" value="H4sIAAAAAAAEADtQ2mbJ8u+eBwPDCSen+a+5GcDghFNrsAiUfeD/87hPTDDxlR/V2GFstYkKojA1+skf4Gqkv5YUwdgAIVRIgWAAAAA=" />
    <add key="/intelcpu/0/load/0/values" value="H4sIAAAAAAAEAEWRSyhEcRTGL4YZSeTZJLlJsVCkFCn3HJMMCxYsxMLcGbNjJ4mF2YzIm9R4FMnCEEoeC9SEcqWUkldhxDSTDEppGm9zz//Of/X19Tun73z/z/PnAtX3jX7BX42+UjGU+38Xc3jY0Shr/TYOLhlknaUu6b0xytrxhs37xEsS1j+aZO0bwPKtyUhOhn6iQ9UB/6fBjBVADKeHVRftdMTAl4d2whTo/FFJbNbnVQV8l70WvQnEWJphOJzpSFjPpZ02K5rTzQEtHY8JebGMORXW/ExvQem0qPgvu+Tz45DzRJprB7uNGE4U3lNlLf1l5puoE0MXdGjl/KvZFrCGkQ+VsKFis3fCfVkwc7fFpMyqR4l5VWNVC+skB3oeqJOhZNzLYJ3kg8tNjDMOr3QspyT0W9lf1MFxCO3kj6CxmDEipCXS7CuP/AS7fRZ0lyal/85lxq8IhW7KYIhAb2+QgU2WzYiOEuI9R7jYRsxMH7Z+sNv9wsmIUekkHomBMDhLCfrz1O2/v6OlDi01cJ3IekuHak3wj24XSTtHgKsxKresWGmPA6HrgPlFoMkUlc5/ATdpbmboAgAA" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
    <add key="/lpc/nct6779d/voltage/0/values" value="H4sIAAAAAAAEADtQ2mbJ8u+eR9COe/blLclMDEBwsuyefc+RJDB7++e79veLEsBsvU137TfOhKhxML1nv94zEcwG6V3WL8zNAAYH/h9T+gwXZ3wPMSfV+r596TcE25gHoffGMnlRmN5a349g8ds/79nL/UuEq9fsh9h7ByheKpIE1+ufkgJXX7oUoX7yhyMsMLZ+QTJczUlLhF7HUoR61V0It+1cngRXH/cbIa4Ur84OY+f8SoCrcfyNMOeaSTKcfbgD4cdOLoT4RbujcLd5RSfB/TXvAMIcgbMIe53ZEuF2RYohzNlv2MkJY792ToLH3U7vZLi97+QQ6td0rReAsfvnIPzoooiwd28NIqwSFiHEA4yPwd0MAKF0nHE0AgAA" />
  </appSettings>
</configuration>