[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=start
Icon=utilities-x-terminal
Exec=/home/main/Documents/Maintenance/maintenance.sh
StartupNotify=false
Terminal=false


